<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.unicycle"
    android:versionCode="1"
    android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="UnicyclistApplication" 
        android:theme="@android:style/Theme.NoTitleBar">
        <uses-library android:name="com.google.android.maps" />
        <activity android:name=".UnicyclistActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".locations.LocationsActivity"></activity>
        <activity android:name=".locations.LocationActivity"></activity>
        <activity android:name=".locations.NewLocationActivity" android:label="@string/new_location"></activity><activity android:name="Preferences"></activity>
        <activity android:name=".locations.trails.TrailsActivity"></activity>
        <activity android:name=".tags.TagPickerActivity" android:theme="@android:style/Theme.Dialog" android:label="@string/tag_picker"></activity>
        <activity android:name=".locations.trails.NewTrailActivity" android:theme="@android:style/Theme.Dialog" android:label="@string/new_trail"></activity>
        <activity android:name=".tags.TagActivity"></activity>
        <activity android:name=".locations.trails.TrailActivity"></activity>
        <activity android:name=".locations.LocationPickerActivity" android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name=".images.GetPhoto">
        </activity>
        <activity android:name=".skills.SkillsActivity"></activity>
        <activity android:name=".rides.RidesActivity"></activity>
        
        
    </application>

</manifest>